*{
    box-sizing: border-box;
}

.card {
    width: 175px;
    font-size: 12px;
    padding-left:30px;
    display: flex;
    flex-direction: column;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    display: flex;
    justify-items: center;
    align-items: center;
    
}

.card--stats {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card--star {
    display: flex;
    align-items: center;justify-content: center;
    height: 14px;
}